{   :paths ["src"]

    :deps
    {
        org.clojure/tools.cli {:mvn/version "1.1.230"}
    }

    :aliases
    {
        :generate-whiteboard-from-image-dir  {:main-opts ["-m" "generate-whiteboard-from-image-dir"]}
    }
}